<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="miConexion" connectionString="Data Source=172.24.16.112;Initial Catalog=TMWSuite;Persist Security Info=True;User ID=sa;Password=tdr9312" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- Variables globales para definir la ruta de almacenamiento de las facturas,activar la actualización
            de campos de la base de datos y activar el ftp para generar los CFDi
            -->
    <!--<add key="dir" value="\\10.176.163.68\Facturas\Transporte\" />-->
    <!-- <add key="dir" value="\\10.176.163.68\Facturas\Transporte\"/>-->
    <add key="dir" value="D:\Administracion\Respaldo de las app de TDR\Administración\" />
    <add key="activa" value="Si" />
    <!-- Activar updates en la base de datos valores: Si/No  (Actualizar referencia e insertar en generadas)-->
    <add key="ftp" value="Si" />
    <!-- Realizar la conexión con el servidor de Tralix. Valores: Si/No-->
    <add key="servidor" value="ftp://canal1.xsa.com.mx" />
    <add key="servidord" value="canal1.xsa.com.mx" />
    <!-- Dirección del servidor de Tralix-->
    <!--<add key ="servidor" value ="201.150.38.62"/>-->
    <add key="port" value="21" />
    <!-- Dirección del servidor del puerto-->
    <add key="llave" value="bf2e1036-ba47-49a0-8cd9-e04b36d5afd4" />
    <!-- Cadena de seguridad (Tralix)-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
	  
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" executionTimeout="600676600" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>